.about {
  padding: 5rem 0;
  background-color: #00000062;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 1600px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 2rem 2rem;
}

.text {
  flex: 1;
}

.paragraph {
  font-size: 1.125rem;
  color: var(--color-text);
  margin-bottom: 1.5rem;
}

.stats {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.statCard {
  background-color: var(--color-grey);
  padding: 1rem;
  border-radius: 0.5rem;
}

.statTitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }
}