.header {
  background: linear-gradient(to right, var(--color-gray-950), var(--color-gray-850));
  color: var( --color-text);
  padding: 1.5rem 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.links {
  display: none;
}

.socialLinks {
  display: flex;
  gap: 1rem;
}

.socialLinks a {
  transition: color 0.3s ease;
}

.socialLinks a:hover {
  color: var(--color-primary);
}

@media (min-width: 768px) {
  .links {
    display: flex;
    gap: 2rem;
  }

  .links a {
    transition: color 0.3s ease;
  }

  .links a:hover {
    color: var(--color-primary);
  }
}